<!-- 
Name: Navjot Kaur
Student ID: 300869349
File Name: index.ejs
Web app name: https://comp308-2017-midterm-300869349.herokuapp.com/
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          
            
                  
<h1 style="text-align:center; font-family:cursive"> Hello, </h1>
<h3 style="text-align:center; font-family:cursive"> a bit about Navjot! </h3>
<p style = "font-size:15px;"> </p>
<p align="center">  "You are more powerful than you know; you are beautiful just as you are.."
The quote defines a little more about Navjot, as if you want to know.</p>
<p align="center"> Moreover, Navjot is an engineering graduate in Information Technology. She is pursuing advanced diploma in Software Engineering Technology at Centennial College, Scarborough. To know more about her, click <a href="/about"> <b> here </b> </a></p>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
