<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
    
  
<h1 style="text-align:center"> Skill Set </h1>

<h3 style="text-align:center; font-family:cursive"> Technical Skills </h3>
<ul id="listbody">
<li> <b> Web Technologies: </b> </li>
<li> HTML  </li>
<li> Javascript  </li>
<li> CSS  </li>
<li> C++  </li>
<li> C#  </li>
</ul>


<ul id="listbody">
<li> <b> Operating Systems: </b> </li>
<li> Windows7  </li>
<li> Windows XP </li>
<li> Windows8  </li>
<li> Linux  </li>
<li> Mac </li>
</ul>


<ul id="listbody">
<li> <b> Database Systems: </b> </li>
<li> SQL  </li>
<li> Oracle </li>
</ul>

<h3 style="text-align:center; font-family:cursive"> Strong Points </h3>
<ul id="listbody">
<li> Flexible  </li>
<li> Goal-oriented  </li>
<li> Hard-working </li>
<li> Team work  </li>
<li> Intellectual Thinking  </li>
<li> Enthusiasm to learn new things  </li>
<li> Self-motivated  </li>
</ul>

<h3 style="text-align:center; font-family:cursive"> Hobbies </h3>
<ul id="listbody">
<li> Listening to music  </li>
<li> Playing Badminton  </li>
<li> Reading Quotes </li>
<li> Surfing the internet  </li>
</ul>


        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


